# This file is part of the Specmatic Testing Example.
#
# Copyright (C) 2023 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

# Defining attributes per path.
#
# For more see: https://git-scm.com/docs/gitattributes

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

#
# Setting up linguist
#

*.md              linguist-documentation -linguist-detectable
LICENSE           linguist-documentation -linguist-detectable
*.spec            linguist-language=Gherkin linguist-detectable
*.json            linguist-language=Json linguist-detectable

/contracts/*.yaml linguist-language=Yaml linguist-detectable

#
# Exclude files from exporting
# (used by the "download ZIP archive" option, for example).
#
.github         export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
CODEOWNERS      export-ignore
