# This file is part of the Contract Testing Example.
#
# Copyright (C) 2023 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

[MASTER]

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=
    import-outside-toplevel,
    wrong-import-position,
    too-few-public-methods,
    too-many-instance-attributes,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,

[LOGGING]

# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style=new


[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,n,ex,rv,p,Run,_
