# This file is part of the Provider API Example.
#
# Copyright (C) 2023 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

name: Lint OpenAPI

on:
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - 'dependabot/**'

  pull_request:
    branches:
      - main

  schedule:
    - cron: '0 12 * * *'
      #      | | | | |
      #      | | | | |____ day of the week (0 - 6 or SUN-SAT)
      #      | | | |____ month (1 - 12 or JAN-DEC)
      #      | | |____ day of the month (1 - 31)
      #      | |____ hour (0 - 23)
      #      |____ minute (0 - 59)

jobs:
  lint-openapi:
    name: Lint OpenAPI spec
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          fetch-depth: 0

      - name: Get changed yaml files
        id: changed-oas-files
        uses: tj-actions/changed-files@v39
        with:
          files: |
            openapi/*.yaml

      - name: Show changed files
        run: |
          echo "Changed files are: ${{ steps.changed-oas-files.outputs.all_changed_files }}"

      - name: Set up Go
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Install Vacuum
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        run: go install github.com/daveshanley/vacuum@v0.0.50
  
      - name: Run vacuum linter
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        run: vacuum lint --no-style -d -e openapi/swagger.yaml

      - name: Setup Node.js 16.x
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm

      - name: Setup cache
        uses: actions/cache@v3
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        run: npm ci --ignore-scripts

      - name: Run redocly linter
        if: steps.changed-oas-files.outputs.any_changed == 'true'
        run: npm run lint
